# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environment variables & secrets
.env

# Virtual environments
venv/
.venv/
env/

# Logs
*.log
daemon.log

# PyInstaller build outputs
build/
dist/
*.spec
